# Jupyter Notebook

This is a Jupyter Notebook, which is a basically just a super fancy Python shell.

You may have "cells" that can either be text (like this one) or executable Python code. Notebooks are really nice because they allow you to rapidly develop Python code by writing small bits of code, testing their output, and moving on to the next bit; this interactive nature of the notebook is a huge plus to professional Python developers. 

It's also nice, because it's really easy to share your code with others and surround it with text to tell a story! 

# Colaboratory
Colaboratory is a service provided by Google to take a Jupyter Notebook (a standard formay of a `.ipynb` file) and let users edit/run the code in the notebook for free! 

This notebook is write-protected so you are not able to edit the  notebook that the whole class will look at, but you are able to open up the notebook in "playground mode" which lets you make edits to a temporary copy of the notebook. If you want to save the changes you made to this notebook, you will have to follow the instructions when you try to save to copy the notebook to your Google Drive.

In [1]:
print('Hello world')

Hello world

In [2]:
x = 1
y = 2

We talked about how you have to be careful with the order that you run cells since they all share the same state. The next cell with the print call can either print 1 or 7 (depending on if you run the cell above or below first) or throw an error if you ran the print cell before running any of the cells that assign x. This "hidden state" in Jupyter Notebooks can be a bit annoying at first.

In [0]:
print(x)

5

In [0]:
x = 7

In [0]:
# Tells you the type of a value
type(x)

int

# For loops
You use the `range` function to specify different ranges for your for loop variable

In [3]:
# this is a comment in Python

# basic for loop
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
# can get more complex by adding in start/stop/step
print('First loop')
for i in range(0, 2):
  print(i)
  
print('Second loo')
for i in range(1, 7, 2):
  print(i)
# Note that 7 is not printed

print('Third loop')
stop = 1
for i in range(8, stop, -2):
  print(i)

First loop
0
1
Second loo
1
3
5
Third loop
8
6
4
2

# Defining Functions
You can use the `def` keyword to define your own functions like in the cell below. 

**Q:** What do you think Python will print if we execute this cell?

In [6]:
def greeting(): 
  print('hello')

The answer was nothing because we never called the function (just defined it). To call the function, you have to write code like the cell below

In [0]:
greeting()

hello

## Parameters + Returns
You can define a function that takes parameters (arguments) and can return values. Below, we define a function that takes 2 parameters and does some computation with them to compute a value to return

In [7]:
def mean(a, b):
  print('Calling mean', a, b)
  return (a + b) / 2

Because they take 2 parameters, we are unable to call the function like
```python
mean()
```

It gets mad that we did not give it parameters, instead we have to write:

In [8]:
mean(1, 5)

('Calling mean', 1, 5)

3

Because Python does not have you define types, you are technically allowed to pass any values as parameters, but they won't always work! For example

```python
mean(1.7, 'hello')

Calling mean 1.7 hello
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-9-e81cbf327f7c> in <module>()
----> 1 mean(1.7, 'hello')

<ipython-input-8-aeee1f6ef16f> in mean(a, b)
      1 def mean(a, b):
      2   print('Calling mean', a, b)
----> 3   return (a + b) / 2

TypeError: unsupported operand type(s) for +: 'float' and 'str'```

# Strings

Strings define a series of characters. You can createa string like below

In [11]:
s = 'abc'

You can also concatenate strings to combine them into bigger strings

In [12]:
print(s + 'def')

abcdef

Python does not support mixing types for String concatenation, for example if you were to run

```python
print(s + 1)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-12-b44e74e50cfe> in <module>()
----> 1 print(s + 1)

TypeError: must be str, not int
```

Instead, you need to convert the int to a string using casting

In [13]:
print(s + str(1))

abc1

Just for fun: Python lets you multiply a string with a number though!

In [14]:
print(s * 3)

abcabcabc

## Indexing

You can access the characters in the sequence by using the `[` and  `]` bracket notation

In [15]:
print(s[0])

print(s[2])

# Out of bounds
# print(s[3])

a
c

To find the length of a string (or almost every collection of values we will learn about in this class), you use the `len` function like so

In [16]:
len(s)

3

This can be helpful to get the last character of the string like the next cell, or if you want to loop over all characters like in the following cells

In [17]:
s[len(s) - 1]

'c'

In [18]:
for i in range(len(s)):
  print(i, s[i])

(0, 'a')
(1, 'b')
(2, 'c')

Remember that a for loop works on any of sequence of values. I've only showed you how to loop over the sequence generated by `range`, but remember that `str` is also a sequence! This means you can loop over the values in a string which will give you each character in the string.

In [19]:
for c in s:
  print(c)

a
b
c