# Jupyter Notebook

This is a Jupyter Notebook, which is a basically just a super fancy Python shell.

You may have "cells" that can either be text (like this one) or executable Python code. Notebooks are really nice because they allow you to rapidly develop Python code by writing small bits of code, testing their output, and moving on to the next bit; this interactive nature of the notebook is a huge plus to professional Python developers. 

It's also nice, because it's really easy to share your code with others and surround it with text to tell a story! 

# Colaboratory
Colaboratory is a service provided by Google to take a Jupyter Notebook (a standard formay of a `.ipynb` file) and let users edit/run the code in the notebook for free! 

This notebook is write-protected so you are not able to edit the  notebook that the whole class will look at, but you are able to open up the notebook in "playground mode" which lets you make edits to a temporary copy of the notebook. If you want to save the changes you made to this notebook, you will have to follow the instructions when you try to save to copy the notebook to your Google Drive. 

# Setup
Make sure you run the following cell before trying to run any the following cells. You do not need to understand what they are doing, it's just a way to make sure there is a file we want to use stored on the computer running this notebook.

In [1]:
import requests

def save_file(url, file_name):
  r = requests.get(url)
  with open(file_name, 'wb') as f:
    f.write(r.content)

save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/04-08/mobydick.txt', 'mobydick.txt')
save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/04-08/bee-movie.txt', 'bee-movie.txt')
save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/04-10/tas.csv', 'tas.csv')
save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/04-10/earthquakes.csv', 'earthquakes.csv')

# Review

Last time we wrote this function to count the number of unique words that appear in a file. When we first wrote it using a list, it was way too slow on large files because the contains check for every word became incredibly slow as the list of unique words got larger. When using the new data structure set, it got much faster!

In [2]:
def count_unique(file_name):
  """
  Returns the number of unique words in the file specified by file_name
  """
  words = set()
  with open(file_name) as file:
    for line in file.readlines():
      for word in line.split():
        words.add(word)
  return len(words)

In [3]:
%%time
print(count_unique('bee-movie.txt'))

4104
Wall time: 7 ms

In [4]:
%%time
count_unique('mobydick.txt')

Wall time: 71 ms

32553

# Dictionaries

In [5]:
def count_words(file_name):
  """
  Counts the number of times each word in the file specified by file_name 
  appears in that file. Returns the counts as a dictionary with keys that
  are words that map to the number of times that word appears in the file.
  """
  counts = {}
  with open(file_name) as file:
    for line in file.readlines():
      for word in line.split():
        if word in counts:
          counts[word] = counts[word] + 1
        else: 
          counts[word] = 1
  return counts

In [6]:
counts = count_words('bee-movie.txt')

In [7]:
counts['bee']

35

We then wanted to loop over that dictionary to find the appear the appears most frequently. We saw that there are two
ways that this is commonly done that keep track of different variables.

In [9]:
max_key = None
max_value = -1  # Start at -1 so no count is the same as this first value
for word in counts.keys():
  if counts[word] > max_value:
    max_key = word
    max_value = counts[word]
    
print(max_key, max_value)

('the', 516)

In [10]:
max_key = None
for word in counts.keys():
  if max_key is None or counts[word] > counts[max_key]:
    max_key = word

print(max_key, max_value)

('the', 516)

# CSV

We learned about CSV files and how one common way of representing the data in this file is a list of dictionaries.

Hunter implemented this function before lecture and briefly went over it in class. This function is NOT the import ant part of 
this example so it's safe to just understand what it's doc-string says.

In [11]:
def parse(file_name):
    """
    Parses the CSV file specified by file_name and returns the data as a list
    of dictionaries where each row is represented by a dictionary that
    has keys for each column and value which is the entry for that column
    at that row.
    """
    data = []
    with open(file_name) as f:
        headers = f.readline().strip().split(',')
        num_cols = len(headers)

        for line in f.readlines():
            row_data = line.strip().split(',')
            row = {}
            for i in range(num_cols):
                row[headers[i]] = row_data[i]
            data.append(row)
    return data

In [12]:
tas = parse('tas.csv')
tas

[{'Name': 'Erika', 'Salary': '3'},
 {'Name': 'Erik', 'Salary': '2'},
 {'Name': 'Josh', 'Salary': '4'}]

We then tried to run the following cell but encountered and error because the type of the data in the 'Salary' field was strings.
All data parsed from a file is by default a string!

In [13]:
total = 0
for ta in tas:
  total += ta['Salary']
print(total)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

We then went over this second function I had implemented before class to parse the data into appropriate types by taking 
extra parameters for the column names that should be converted to integers (or floats for a later example).

In [14]:
def parse(file_name, int_cols, float_cols):
    """
    Parses the CSV file specified by file_name and returns the data as a list
    of dictionaries where each row is represented by a dictionary that
    has keys for each column and value which is the entry for that column
    at that row.

    Also takes a list of column names that should have the data for that column
    converted to integers and a list of columns that should be converted to 
    floats. All other data will be str.
    """
    data = []
    with open(file_name) as f:
        headers = f.readline().strip().split(',')
        num_cols = len(headers)

        for line in f.readlines():
            row_data = line.strip().split(',')
            row = {}
            for i in range(num_cols):
                col = headers[i]
                if col in int_cols:
                    row[col] = int(row_data[i])
                elif col in float_cols:
                    row[col] = float(row_data[i])
                else:
                    row[col] = row_data[i]
            data.append(row)
    return data

In [15]:
tas = parse('tas.csv', ['Salary'], [])
tas

[{'Name': 'Erika', 'Salary': 3},
 {'Name': 'Erik', 'Salary': 2},
 {'Name': 'Josh', 'Salary': 4}]

In [16]:
total = 0
for ta in tas:
  total += ta['Salary']
print(total)

9

We saw that we could then parse our other, larger, dataset using the same function

In [17]:
# parse the year, month, and day columns as ints and the longitude, latitude, 
# and magnitude columns as floats
earthquakes = parse('earthquakes.csv', ['year', 'month', 'day'], 
                    ['longitude', 'latitude', 'magnitude'])

In [1]:
earthquakes

NameError: name 'earthquakes' is not defined

Now with this list of dictionaries, we wanted to find the earthquake with the largest magnitude

In [19]:
biggest_earthquake = None
for earthquake in earthquakes:
  # word: Scripts.com
  if biggest_earthquake is None or earthquake['magnitude'] > biggest_earthquake['magnitude']:
    biggest_earthquake = earthquake

print(biggest_earthquake)

{'name': 'Northern Mariana Islands', 'longitude': 145.541, 'month': 7, 'magnitude': 7.7, 'year': 2016, 'latitude': 18.5439, 'id': 'us100068jg', 'day': 29}

While this works great, it was pretty complicated! We had to do a lot of work to parse the data and while computing the values
we wanted from the list of dictionaries was TOO bad, it still had a fair bit of code. It would be nice if there were a way to do 
this better!

# Pandas

Pandas is a libary (a packaged up piece of code shared online) that specializes in processing these CSV files

In [20]:
import pandas as pd  # this is just syntax to "rename" the 
                     # module so we don't have to say "pandas." everywhere
data = pd.read_csv('earthquakes.csv')

This returns a `DataFrame` that stores all the information about the CSV in an easy to read manner. Below, we use the `head` function on the `DataFrame` to just show the first few rows.

In [21]:
data.head()

           id  year  month  day   latitude   longitude        name  magnitude
0  nc72666881  2016      7   27  37.672333 -121.619000  California       1.43
1  us20006i0y  2016      7   27  21.514600   94.572100       Burma       4.90
2  nc72666891  2016      7   27  37.576500 -118.859167  California       0.06
3  nc72666896  2016      7   27  37.595833 -118.994833  California       0.40
4  nn00553447  2016      7   27  39.377500 -119.845000      Nevada       0.30

You can ask for a particular column of the `DataFrame` using the following syntax

In [ ]:
data['name']

0        California
1             Burma
2        California
3        California
4            Nevada
5            Alaska
6            Hawaii
7            Alaska
8        California
9        California
10       California
11           Nevada
12       California
13       California
14          Montana
15      Puerto Rico
16           Alaska
17       California
18       California
19       California
20       California
21           Hawaii
22           Alaska
23       California
24           Alaska
25       California
26       California
27           Alaska
28       California
29       California
           ...
8364         Alaska
8365     California
8366         Alaska
8367     California
8368         Alaska
8369     California
8370         Alaska
8371         Alaska
8372         Alaska
8373     California
8374         Alaska
8375     California
8376         Hawaii
8377     California
8378     California
8379     California
8380         Alaska
8381     California
8382     California
8383         Nevada
8384         Alaska
8385         Alaska
8386     California
8387         Alaska
8388     California
8389     California
8390         Alaska
8391     California
8392     California
8393     California
Name: name, Length: 8394, dtype: object

This returns a pandas `Series` which represents one dimension of a `DataFrame`. There `Series` acts like a glorified dictionary/list, but it can do so much more!

In [ ]:
magnitudes = data['magnitude']
print(magnitudes.max())
print(magnitudes.min())
print(magnitudes.mean())
print(magnitudes.unique())

7.7
0.01
1.5129413867047896
[1.43 4.9  0.06 0.4  0.3  1.8  1.   2.   1.2  1.67 0.48 0.9  0.51 0.53
 0.14 1.6  2.1  0.73 0.22 1.22 0.55 1.47 0.81 0.75 1.4  0.8  1.13 0.47
 5.6  3.6  0.28 2.3  1.1  1.5  2.5  1.3  1.75 0.62 2.7  1.83 2.6  0.5
 4.2  1.84 0.59 0.84 0.71 0.6  1.7  3.3  4.8  1.02 1.9  4.   1.99 2.4
 1.34 1.03 3.2  4.5  1.74 1.53 1.82 4.1  0.52 0.61 2.09 1.16 0.72 0.96
 4.3  4.4  5.3  1.11 0.65 2.2  3.   1.56 2.17 0.68 2.25 1.33 0.7  2.03
 1.28 1.59 2.62 1.62 2.94 2.9  1.36 0.2  1.49 0.99 1.15 0.89 1.46 1.24
 1.87 1.94 4.6  1.88 0.97 0.34 0.93 1.64 2.76 3.08 3.1  0.74 0.23 0.49
 1.76 2.8  3.7  1.25 2.02 0.58 0.57 0.42 0.24 0.91 0.94 1.54 0.92 2.12
 0.35 1.18 1.85 2.05 1.23 2.56 0.87 0.85 0.25 0.83 1.38 0.88 1.06 2.16
 1.31 1.86 1.63 0.98 1.26 1.91 5.1  1.19 0.1  0.79 0.78 0.77 0.56 1.89
 0.82 1.71 1.73 0.27 1.61 1.66 1.95 3.22 3.5  1.57 1.98 0.37 1.96 0.26
 2.28 2.75 1.07 1.51 0.12 3.4  1.09 0.13 1.55 1.58 0.45 1.21 2.19 0.36
 0.86 1.27 1.29 5.4  5.   0.69 3.8  2.54 1.45 4.7  1.52 0.76 1.97 2.68
 2.66 0.01 1.35 0.44 2.33 2.39 1.17 0.54 1.44 7.7  1.79 1.93 5.2  0.41
 1.42 0.33 1.78 2.57 0.39 2.24 2.22 2.23 0.19 0.43 2.38 2.31 1.32 1.37
 1.68 5.7  0.38 0.67 1.65 1.08 3.37 3.19 1.69 0.15 3.24 2.67 0.03 1.72
 2.85 0.95 0.18 2.14 2.35 1.14 2.21 1.04 5.9  0.64 0.29 0.16 2.32 2.61
 4.03 2.15 0.31 0.63 1.12 0.66 1.01 6.1  0.04 0.05 1.77 2.18 2.07 2.13
 1.81 3.16 2.26 5.5  1.92 3.74 1.39 2.08 2.41 2.34 3.9  1.05 2.96 4.48
 3.99 2.01 2.49 0.09 3.31 3.17 0.32 1.48 2.36 6.2  6.3  0.17 1.41 2.45
 3.51 3.05 0.11 2.58 2.29 3.39 2.48 2.37 2.11 0.02 2.04 2.78 3.34 0.46
 5.09 2.99 0.21 2.65 0.08 2.06 3.84 2.74 2.59 0.07 2.44 7.2  2.52 3.41
 2.53 3.07 3.03 2.46 3.49 2.72 3.44 2.73 2.95 2.71 2.86 3.62 3.32 2.88
 3.43 3.54 2.63 2.77 2.47 7.4  5.8  2.55 2.42 6.   6.4  3.13 3.53 3.15
 6.8  3.76 3.48 2.83 2.27]

You can also use operators to combine `Series`. These operators work "element-wise" which means they apply the operator element by element in both `Series`

In [ ]:
data['latitude'] + data['longitude']

0       -83.946667
1       116.086700
2       -81.282667
3       -81.399000
4       -80.467500
5       -91.163700
6      -136.186333
7       -91.148800
8       -82.902833
9       -83.940333
10      -83.227667
11      -80.471300
12      -84.655667
13      -84.161333
14      -66.483500
15      -48.912800
16      230.111800
17      -81.603000
18      -84.167333
19      -83.948167
20      -83.987333
21     -135.876833
22      -87.318500
23      -82.249167
24      -93.403000
25      -81.766667
26      -83.967500
27      -86.498800
28      -81.875500
29      -81.306333
           ...
8364    -75.891600
8365    -83.944496
8366    229.294700
8367    -83.191333
8368   -100.972200
8369    -83.278833
8370   -100.856000
8371    -88.024100
8372    -82.497600
8373    -83.292833
8374    -91.638200
8375    -82.965667
8376   -136.252003
8377    -84.009499
8378    -83.556167
8379    -81.320332
8380    -85.990500
8381    -83.994167
8382    -81.703667
8383    -79.920000
8384    -82.840200
8385    -82.840200
8386    -81.956333
8387    -81.049200
8388    -81.702500
8389    -84.584331
8390    -88.364300
8391    -84.016502
8392    -84.327333
8393    -82.814500
Length: 8394, dtype: float64

You can also do comparisons to find all values > 5

In [ ]:
data['magnitude'] > 5

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8364    False
8365    False
8366    False
8367    False
8368    False
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
Name: magnitude, Length: 8394, dtype: bool

Pandas also lets you use these bool `Series` to select which rows you want to look at in a `DataFrame`

In [ ]:
mask = data['magnitude'] > 5
data[mask].head()  # to limit the number of values printed

,id,year,month,day,latitude,longitude,name,magnitude
30,us20006i18,2016,7,27,-24.2860,-67.8647,Chile,5.6
114,us20006i35,2016,7,27,36.4922,140.7568,Japan,5.3
421,us1000683b,2016,7,28,-16.8242,-172.5158,Tonga,5.1
632,us100068b1,2016,7,29,0.0756,123.4162,Indonesia,5.4
799,us100068jg,2016,7,29,18.5439,145.5410,Northern Mariana Islands,7.7

You can also use multiple filter conditions by combining them with logical operators. Note that these look a bit different than the normal python operators. Also parentheses really matter here! 

Operator | Meaning
---------------|---------------
&              | and
&#124;    | or
~              | not

In [ ]:
data[(data['magnitude'] > 5) & ~(data['name'] == 'Japan')].head()

,id,year,month,day,latitude,longitude,name,magnitude
30,us20006i18,2016,7,27,-24.2860,-67.8647,Chile,5.6
421,us1000683b,2016,7,28,-16.8242,-172.5158,Tonga,5.1
632,us100068b1,2016,7,29,0.0756,123.4162,Indonesia,5.4
799,us100068jg,2016,7,29,18.5439,145.5410,Northern Mariana Islands,7.7
835,us100068n4,2016,7,29,-20.7929,169.9542,Vanuatu,5.2

# Location
We've seen a few different ways (access column, use bool `Series` to filter rows) to access data in a `DataFrame`. Both of these methods rely on this underlying idea of the `loc` property. In general, you use `loc` to specify the data you want with

```
data.loc[<row indexer>, <column indexer>]
```

In [ ]:
# Get one row
data.loc[1]

id           us20006i0y
year               2016
month                 7
day                  27
latitude        21.5146
longitude       94.5721
name              Burma
magnitude           4.9
Name: 1, dtype: object

In [22]:
# Get one row and one column
data.loc[1, 'name']

'Burma'

In [23]:
# Can use lists for both! 
data.loc[[1,2,3], ['year', 'month', 'day']]

   year  month  day
1  2016      7   27
2  2016      7   27
3  2016      7   27

In [24]:
# Can use ranges to specify both! 
# Note: The ranges are inclusive unlike almost everywhere else in Python! 
data.loc[1:3, 'year':'day']

   year  month  day
1  2016      7   27
2  2016      7   27
3  2016      7   27